@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  font-family: Open Sans;
}

.main-navber-contianer {
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.left-contianer {
  font-size: 20px;
}

.center-contianer-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 35px;
  padding: 10px !important;
  border-radius: 10px;
  background: #252525;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: white;
  color: #000;
  cursor: pointer;
}

.header {
  text-align: center;
  margin-top: 200px;
  font-size: 50px;
}

.header span {
  color: #000000;
}
